cloudflare_zone       = ""
cloudflare_zone_id    = ""
cloudflare_account_id = ""
cloudflare_email      = ""
cloudflare_key        = ""
gcp_project_id        = "globalse-198312"
gcp_zone              = "us-central1-a"
gcp_region            = "us-central1"
gcp_machine_type      = "e2-small"
gcp_instance_image    = "debian-cloud/debian-11"
gcp_creds_file        = "project-0987654321.json"   